* {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: batman;
    src: url(../fonts/batmfo__.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.navbar {
    background-color: #F7F7F7;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar > .navbar-list {
    list-style-type: none;
    margin: 0;
    float: right;
}

.navbar > .navbar-list > .navbar-item {
    display: inline-block;
}

.navbar > .navbar-list > .navbar-item a {
    padding: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    display: inline-block;
}

.navbar > .navbar-list > .navbar-item.active a {
    color: #F7F7F7;
    background-color: #A4A4A4;
}

.header > .title-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/batman.jpg);
    height: 100vh;
}

.title {
	position: absolute;
    left: 0;
    top: 65%;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: batman;
    z-index: 1;
}

.title-cite {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: batman;
    
}