* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
}

@font-face {
    font-family: batman;
    src: url(../fonts/batmfo__.ttf);
}

body {
    margin: 0;
    padding: 0;
    --main-text-color: #F7F7F7; 
    --secondary-text-color: #A4A4A4;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.navbar {
    background-color: var(--main-text-color);
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar > .navbar-list {
    list-style-type: none;
    margin: 0;
    float: right;
    font-size: 0;
}

.navbar > .navbar-list > .navbar-item {
    display: inline-block;
    font-size: 16px;
}

.navbar > .navbar-list > .navbar-item a {
    padding: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    display: inline-block;
}

.navbar > .navbar-list > .navbar-item.active a {
    color: var(--main-text-color);
    background-color: var(--secondary-text-color);
}

.navbar > .navbar-list > .navbar-item a:hover {
    color: var(--main-text-color);
    background-color: var(--secondary-text-color);
}

.header > .title-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/batman.jpg);
    height: 100vh;
}

.title {
	position: absolute;
    left: 0;
    top: 65%;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: batman;
    z-index: 1;
}

.title-cite {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: batman;

}

.section-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-reverse {
    background-color: rgba(0, 0, 0, 0.92);
    color: var(--main-text-color);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.about-me > .batman-video {
    float: left;
    max-width: 50%;
}

.about-me > .batman-info {
    float: right;
    max-width: 50%;
}

.team-member-photo > img {
    height: 300px;
    max-width: 100%;
    border-radius: 50%;
}

.transport-img {
    max-width: 100%;
    height: 250px;
    border-radius: 50%;
}

.footer {
    background-color: rgba(0, 0, 0, 0.92);
    color: var(--main-text-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}